[user]
    name = mihasya
    email = m@mihasya.com
[core]
    editor = vim
[color]
    ui = true
[push]
    default = current
[branch]
    autosetuprebase = always
[url "ssh://git@github.com/"]
    insteadof = https://github.com/
